.layout {
    height             : 100%;
    background-size    : cover;
    background-position: center bottom;
    background-repeat  : no-repeat;
    display            : flex;
    flex-direction     : column;

    >header {
        display: flex;
        padding: 4px;

        >.menu-button {
            display: none;
            padding: 8px 6px;

            @media @tablet-and-phone {
                display: block;
            }
        }

        h1 {
            @media @pc {
                margin-top : 1px;
                margin-left: 4px;

                >a>.mobile-logo {
                    display: none;
                }
            }

            @media @tablet-and-phone {
                margin-top : 2px;
                margin-left: 6px;

                >a>.pc-logo {
                    display: none;
                }
            }
        }

        >.span {
            flex-grow: 1;
        }

        >.more-button {
            padding: 4px;

            @media @tablet-and-phone {
                display: none;
            }
        }
    }

    >main {
        flex-grow : 1;
        overflow-y: auto;

        >.content {
            max-width: 960px;
            padding  : 10px 20px 50px;
            margin   : auto;
        }
    }
}