.maid-cafe-view {
    >header {
        height             : 40px;
        background-image   : url(/images/view/title.png);
        background-position: left center;
        background-repeat  : repeat-y;
        background-size    : auto 100%;

        >h2 {
            font-size: 25px;
            animation: maid-view-slide-in 0.5s ease-out;
        }

        P {
            opacity            : 0;
            color              : #9e92a9;
            animation          : maid-view-slide-in 0.5s 0.2s ease-out;
            animation-fill-mode: forwards;
        }
    }

    >.balance {
        width           : 215.5px;
        height          : 185.5px;
        background-image: url(/images/view/maid-cafe/balloon.png);
        background-size : auto 100%;
    }
}