@keyframes maid-view-slide-in {
    0% {
        opacity  : 0;
        transform: translateX(2%);
    }

    100% {
        opacity  : 1;
        transform: translateX(0%);
    }
}

.maid-view {
    >header {
        height             : 40px;
        background-image   : url(/images/view/title.png);
        background-position: left center;
        background-repeat  : repeat-y;
        background-size    : auto 100%;

        >h2 {
            font-size: 25px;
            animation: maid-view-slide-in 0.5s ease-out;
        }

        P {
            opacity            : 0;
            color              : #9e92a9;
            animation          : maid-view-slide-in 0.5s 0.2s ease-out;
            animation-fill-mode: forwards;
        }
    }

    .maid-list {
        margin-top: 20px;
    }
}