.maid-book {
    position       : relative;
    width          : 111px;
    height         : 148px;
    background-size: contain;

    >.name {
        position        : absolute;
        bottom          : -30px;
        width           : 107.5px;
        height          : 23.5px;
        background-image: url(/images/component/maid-book/name-background.png);
        background-size : contain;
        text-align      : center;
        padding-top     : 1px;
        padding-right   : 4px;
        font-size       : 16px;
        font-family     : "refrigerator-deluxe";
        font-weight     : bold;
    }
}