@import "base.less";

html,
body {
    height          : 100%;
    font-family     : Ariel;
    font-size       : 12px;
    background-color: #000000;
    color           : #e9dfee;
}

// views
@import "view/layout.less";
@import "view/maid.less";
@import "view/admin.less";

// components
@import "component/loading.less";
@import "component/user-info.less";
@import "component/menu/pc-menu.less";
@import "component/menu/mobile-menu.less";
@import "component/menu/more-menu.less";
@import "component/maid/maid-list.less";
@import "component/maid/maid-book.less";