@import "base.less";

html,
body {
    height          : 100%;
    font-family     : Ariel;
    font-size       : 12px;
    background-color: #000000;
    color           : #e9dfee;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background   : #d8448a;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    box-shadow   : rgba(233, 223, 238, 0.5) 0px 0px 5px inset;
    border-radius: 10px;
}

// views
@import "view/layout.less";
@import "view/dashboard.less";
@import "view/maid.less";
@import "view/admin.less";
@import "view/nurseraid.less";
@import "view/nursefactory.less";
@import "view/housekeeper.less";
@import "view/farm.less";
@import "view/maidcafe.less";
@import "view/test-lp-token.less";
@import "view/test-maidcoin.less";

// components
@import "component/loading.less";
@import "component/user-info.less";
@import "component/popup.less";

@import "component/menu/pc-menu.less";
@import "component/menu/mobile-menu.less";
@import "component/menu/more-menu.less";

@import "component/maid/maid-list.less";
@import "component/maid/maid-book.less";
@import "component/maid/maid-summary.less";
@import "component/maid/maid-detail.less";

@import "component/nurse-raid/nurse-raid.less";
@import "component/nurse-factory/nurse-factory.less";
@import "component/nurse-factory/create-nurse-popup.less";
@import "component/nurse-part/nurse-part.less";

@import "component/nurse-pool/nurse-pool-list.less";
@import "component/nurse-pool/nurse-pool.less";
@import "component/nurse-pool/nurse.less";
@import "component/nurse-pool/nurse-detail.less";
@import "component/nurse-pool/charge-nurse-popup.less";

@import "component/housekeeper/any-housekeeper.less";
@import "component/housekeeper/sushigirl/sushigirl.less";
@import "component/housekeeper/sushigirl/sushigirl-detail.less";
@import "component/housekeeper/lingeriegirl/lingeriegirl.less";
@import "component/housekeeper/lingeriegirl/lingeriegirl-detail.less";

@import "component/dialogue/dialogue.less";
@import "component/dialogue/alert.less";
@import "component/dialogue/token-prompt.less";

@import "component/select-maid-popup/select-maid-popup.less";
@import "component/select-maid-popup/maid.less";

@import "component/maid-corp/maid-corp.less";
@import "component/nurse-farm/nurse-farm.less";

@import "component/select-nurse-popup/select-nurse-popup.less";
@import "component/select-nurse-popup/nurse.less";

@import "component/route-nurse-popup/route-nurse-popup.less";
@import "component/route-nurse-popup/nurse.less";

@import "component/charge-multiple-nurse-popup/charge-multiple-nurse-popup.less";
@import "component/charge-multiple-nurse-popup/nurse.less";

@import "component/delete-multiple-nurse-popup/delete-multiple-nurse-popup.less";
@import "component/delete-multiple-nurse-popup/nurse.less";