.charge-multiple-nurse-popup {
    position        : relative;
    width           : 352px;
    margin          : auto;
    height          : 601px;
    background-image: url(/images/component/charge-multiple-nurse-popup/background.png);
    background-size : auto 100%;

    >h1 {
        padding-left: 6px;
        padding-top : 4px;
        font-size   : 18px;
    }

    >.close-button {
        position: absolute;
        right   : 13px;
        top     : 0;
    }

    >.nurse-list {
        width           : 346.5px;
        margin          : auto;
        margin-top      : 5px;
        height          : 517px;
        overflow-y      : scroll;
    }

    >footer {
        position: absolute;
        left    : 0;
        width   : 100%;
        bottom  : 20px;
        height  : 28px;

        >.confirm-button {
            display         : block;
            margin          : auto;
            width           : 209.5px;
            height          : 33px;
            background-image: url(/images/component/charge-multiple-nurse-popup/confirm-button.png);
            background-size : auto 100%;
            color           : #000000;
            font-size       : 13px;
            text-transform  : uppercase;
            text-align      : center;
            font-weight     : bold;
            padding-top     : 4px;
            padding-left    : 1px;
            line-height     : 21px;
        }
    }
}