.dialogue {
    position        : relative;
    width           : 351px;
    margin          : auto;
    height          : 230.5px;
    background-image: url(/images/component/dialogue/background.png);
    background-size : auto 100%;

    >h1 {
        padding-left: 6px;
        font-size   : 22px;
        font-weight : bold;
    }

    >.close-button {
        position: absolute;
        right   : 13px;
        top     : 0;
    }

    >.cancel-button {
        position        : absolute;
        left            : 8px;
        bottom          : 10px;
        width           : 130px;
        height          : 33.5px;
        background-image: url(/images/component/dialogue/cancel-button.png);
        background-size : auto 100%;
        color           : #000000;
        font-size       : 13px;
        text-transform  : uppercase;
        text-align      : center;
        font-weight     : bold;
        padding-top     : 8px;
        padding-left    : 1px;
    }

    >.confirm-button {
        position        : absolute;
        right           : 8px;
        bottom          : 10px;
        width           : 112px;
        height          : 33.5px;
        background-image: url(/images/component/dialogue/confirm-button.png);
        background-size : auto 100%;
        color           : #000000;
        font-size       : 13px;
        text-transform  : uppercase;
        text-align      : center;
        font-weight     : bold;
        padding-top     : 8px;
        padding-left    : 1px;
    }
}
