.token-prompt {
    >p {
        color          : #3b3e4a;
        font-size      : 18px;
        text-align     : center;
        height         : 100px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        line-height    : 24px;
    }

    >.input {
        display         : block;
        margin          : auto;
        text-align      : center;
        width           : 298px;
        height          : 38px;
        background      : transparent;
        background-image: url(/images/component/dialogue/input.png);
        background-size : auto 100%;
        color           : #3b3e4a;
        font-size       : 18px;
    }
}