html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
html,
body {
  height: 100%;
  font-family: Ariel;
  font-size: 12px;
  background-color: #000000;
  color: #e9dfee;
}
.layout {
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.layout > header {
  display: flex;
  padding: 4px;
}
.layout > header > .menu-button {
  display: none;
  padding: 8px 6px;
}
@media only screen and (max-width: 959px) {
  .layout > header > .menu-button {
    display: block;
  }
}
.layout > header h1 {
  margin-top: 1px;
  margin-left: 4px;
}
.layout > header > .span {
  flex-grow: 1;
}
.layout > header > .more-button {
  padding: 4px;
}
@media only screen and (max-width: 959px) {
  .layout > header > .more-button {
    display: none;
  }
}
.layout > main {
  flex-grow: 1;
  overflow-y: auto;
}
.layout > main > .content {
  max-width: 960px;
  padding: 10px 20px 50px;
  margin: auto;
}
@keyframes maid-view-slide-in {
  0% {
    opacity: 0;
    transform: translateX(2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.maid-view > header {
  height: 40px;
  background-image: url(/images/view/title.png);
  background-position: left center;
  background-repeat: repeat-y;
  background-size: auto 100%;
}
.maid-view > header > h2 {
  font-size: 25px;
  animation: maid-view-slide-in 0.5s ease-out;
}
.maid-view > header P {
  opacity: 0;
  color: #9e92a9;
  animation: maid-view-slide-in 0.5s 0.2s ease-out;
  animation-fill-mode: forwards;
}
.maid-view .maid-list {
  margin-top: 20px;
}
.admin-view {
  padding: 60px 0;
}
.admin-view > h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
.admin-view > p {
  color: #9e92a9;
}
.admin-view > .current-block {
  margin-bottom: 50px;
}
.admin-view > .admin-form {
  margin-bottom: 50px;
}
.admin-view > .admin-form > h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.admin-view > .admin-form > label {
  display: block;
  margin-bottom: 10px;
  color: #9e92a9;
  font-weight: bold;
}
.admin-view > .admin-form > label > input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #bcb5bc;
  border-radius: 5px;
}
.admin-view > .admin-form > .action-button-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.admin-view > .admin-form > .action-button-container > .action-button {
  float: left;
  background-color: #dfdcd7;
  border: 1px solid #363138;
  color: #363138;
  padding: 10px 20px;
  border-radius: 50px;
}
.admin-view > .admin-form > .action-button-container > .action-button:hover {
  background-color: #363138;
  color: #dfdcd7;
}
.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 113.5px;
  height: 140px;
  margin-left: -56.75px;
  margin-top: -70px;
}
.user-info {
  padding: 4px;
}
.user-info:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.user-info > .owner {
  margin-top: 2px;
  position: relative;
  float: left;
  height: 19px;
  background-image: url(/images/component/user-info/background.png);
  background-size: auto 100%;
  font-family: "refrigerator-deluxe";
  line-height: 19px;
  font-size: 14px;
  padding: 0 4px;
}
.user-info > .owner:before {
  content: " ";
  position: absolute;
  left: -2.5px;
  top: 0;
  width: 2.5px;
  height: 19px;
  background-image: url(/images/component/user-info/background-left.png);
  background-size: auto 100%;
}
.user-info > .maid-coin {
  margin-top: 2px;
  margin-right: 6px;
  position: relative;
  float: right;
  height: 19px;
  background-image: url(/images/component/user-info/background.png);
  background-size: auto 100%;
}
.user-info > .maid-coin > .icon {
  float: left;
}
.user-info > .maid-coin > .balance {
  float: right;
  font-family: "refrigerator-deluxe";
  line-height: 19px;
  font-size: 14px;
  padding: 0 4px;
}
.user-info > .maid-coin:after {
  content: " ";
  clear: both;
  position: absolute;
  right: -6.5px;
  top: 0;
  width: 6.5px;
  height: 19px;
  background-image: url(/images/component/user-info/background-right.png);
  background-size: auto 100%;
}
.user-info > .connect-button {
  background-image: url(/images/component/user-info/connect-button.png);
  background-size: 100% 100%;
  width: 102px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.pc-menu {
  margin-left: 10px;
  display: flex;
  padding: 6px;
}
@media only screen and (max-width: 959px) {
  .pc-menu {
    display: none;
  }
}
.pc-menu > a {
  width: 91px;
  height: 19px;
  margin-right: 10px;
  text-align: center;
  padding-top: 3px;
}
.pc-menu > a.on {
  background-image: url(/images/component/pc-menu/current.png);
  background-size: contain;
}
.mobile-menu {
  position: fixed;
  z-index: 999;
  width: 159.5px;
  height: 532px;
  background-image: url(/images/component/mobile-menu/background.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.mobile-menu .menu-icon {
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 8px 6px;
}
.mobile-menu .top-menu {
  margin-top: 40px;
  flex-grow: 1;
}
.mobile-menu .top-menu,
.mobile-menu .bottom-menu {
  padding: 5px 14px;
}
.mobile-menu .top-menu > a,
.mobile-menu .bottom-menu > a {
  margin-top: 10px;
  display: block;
  color: #9e92a9;
  width: 130px;
  height: 28px;
  text-align: center;
  padding-top: 8px;
  font-size: 13px;
  text-decoration: none;
}
.mobile-menu .top-menu > a.on,
.mobile-menu .bottom-menu > a.on {
  color: #f0e9f3;
  background-image: url(/images/component/mobile-menu/current.png);
  background-size: contain;
}
.mobile-menu .icon-menu {
  display: flex;
  padding: 10px;
}
.mobile-menu .icon-menu > a {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.more-menu {
  position: fixed;
  z-index: 999;
  background-color: rgba(21, 19, 21, 0.75);
  border: 1px solid #908e91;
  width: 200px;
  padding: 10px 0;
}
.more-menu > a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #dfdbd6;
  text-decoration: none;
}
.maid-list {
  margin-left: -8px;
}
.maid-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.maid-list .maid-container {
  margin: auto;
}
@media only screen and (max-width: 719px) {
  .maid-list .maid-container {
    width: 345px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .maid-list .maid-container {
    width: 690px;
  }
}
.maid-list .maid-book {
  float: left;
  margin-left: 4px;
  margin-bottom: 40px;
  cursor: pointer;
}
@keyframes maid-book-zoom-in {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.maid-book {
  position: relative;
  width: 111px;
  height: 148px;
  background-size: contain;
  animation: maid-book-zoom-in 0.5s ease-out;
}
.maid-book > .name {
  position: absolute;
  bottom: -30px;
  width: 107.5px;
  height: 23.5px;
  background-image: url(/images/component/maid-book/name-background.png);
  background-size: contain;
  text-align: center;
  padding-top: 1px;
  padding-right: 4px;
  font-size: 16px;
  font-family: "refrigerator-deluxe";
  font-weight: bold;
}

