@keyframes mobile-menu-element-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mobile-menu {
    position        : fixed;
    z-index         : 999;
    width           : 159.5px;
    height          : 532px;
    background-image: url(/images/component/mobile-menu/background.png);
    background-size : contain;
    display         : flex;
    flex-direction  : column;
    animation       : mobile-menu-element-fade-in 0.2s ease-out;

    .menu-icon {
        position: absolute;
        left    : 4px;
        top     : 4px;
        padding : 8px 6px;
    }

    .top-menu {
        margin-top: 40px;
        flex-grow : 1;
    }

    .top-menu,
    .bottom-menu {
        padding: 5px 14px;

        >a {
            margin-top     : 10px;
            display        : block;
            color          : #9e92a9;
            width          : 130px;
            height         : 28px;
            text-align     : center;
            padding-top    : 8px;
            font-size      : 13px;
            text-decoration: none;

            &.on {
                color           : #f0e9f3;
                background-image: url(/images/component/mobile-menu/current.png);
                background-size : contain;
            }
        }
    }

    .icon-menu {
        display: flex;
        padding: 10px;

        >a {
            padding        : 8px;
            display        : flex;
            flex-direction : column;
            justify-content: center;
        }
    }
}